<nav id="my-menu">
  <div>
    <ul class="pages">
      <li><a href="{{ site.baseurl }}/"><i class="fa fa-home"></i> Pagrindinis</a></li>
      {% assign posts_by_date = site.posts | sort: 'date' %}
      {% for post in posts_by_date %}
          <li><a href="{{ site.baseurl }}{{ post.url }}"><i class="{{post.iconclass}}"></i> {{ post.title }}</a></li>
      {% endfor %}
    </ul>

    <!-- {% include social_links.html %} -->
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
